*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  overflow: hidden;
}

.MuiContainer-root.container {
  height: 100vh;
}

.MuiContainer-root.container-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-details-container{
  display: flex;
  margin-top: 70px;
  padding:20px;
  gap: 40px;
  justify-content: center;
  overflow: hidden !important;
}


@media (width<768){
  .book-details-container{
    background-color: red !important;
    flex-direction: column;
  }
}
